/* Vos customisations des classes de Bootstrap */

/* FONTS */
.arvo-regular {
  font-family: "Arvo", serif;
  font-weight: 100;
  font-style: normal;
}

h1,
h2,
h3 {
  font-family: arvo, sans-serif;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    color: #d9534f;
    margin: 1rem 0;
}

/* ANOTHER */
* {
  margin: 0;
  padding: 0;
}

.ligne{
    width: 50%;
    border : 1.5px solid #d9534f;
    margin-bottom: 1rem;
}

/* HEADER */
/* NAVLINK */
header {
  background-color: #222222;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 15%;
  margin-bottom: 3rem;
}

.nav-links {
  justify-content: space-between;
}

.nav-link {
  color: white;
  text-decoration: none;
  margin-right: 50px;
  font-family: arvo, sans-serif;
}

/* SECTION #1 */
#home {
  height: 70vh;
  background-image: url(../images/hero-image.jpg);
  text-align: center;
  padding: 3rem 31%;
  margin-bottom: 4rem;
}

#home h1 {
    color: white;
    margin-bottom: 3rem;
  }

#home p {
  color: white;
  margin-bottom: 3rem;
}


h1 {
  font-size: 3rem;
}

#home
span {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.cta {
  background: #d9534f;
  color: white;
  border-radius: 5px;
  padding: 2% 3%;
  font-size: 2rem;
}

.code {
  height: auto;
  margin-top: 2rem;
}

/* SECTION #2 */

#who {
    height: 35vh;
    padding: 0 31%;
    text-align: center;

}



/* Responsive Styling */
@media (max-width: 1199px) {
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
}
